<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="grey-bg">

    <%- include('nav.ejs') %>

        <div class="input-group mb-3">
            <form style="width: 100%; height: 40px; display: flex;" action="/search" method="POST">
                <input name="search" type="text" class="form-control" placeholder="검색어입력"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button style="width: 80px;" class="btn btn-outline-secondary" type="submit"
                    id="button-addon2">검색</button>
            </form>
        </div>

        <div class="white-bg">
            <div id="add" class="list-box" style="text-align: center;">
                <h4 style="font-weight: 1000;"><a href="/write">+ 추가</a></h4>
            </div>
        </div>
        <% if (user !==undefined) { %>
            <div style="padding: 10px" class="white-bg">

                <p style="margin:0px">반갑습니다. <%= user.username %>님</p>
            </div>
            <% } %>





                <div class="white-bg">
                    <% for (let i=0; i<posts.length; i++) { %>
                        <div class="list-box" id="list<%= posts[i]._id %>">
                            <h4 style="display: flex">
                                <a href="/detail/<%= posts[i]._id %>">
                                    <%= posts[i].title %>
                                </a>
                                <p>
                                    <%= posts[i].username %>
                                </p>
                                <% if (user !==undefined) { %>
                                    <% if (String(user._id)===String(posts[i].user)) { %>
                                        <a href="/update/<%= posts[i]._id %>">✏️</a>
                                        <span class="delete" data-num="<%= posts[i]._id %>">🗑️</span>
                                        <% } %>
                                            <% } %>
                            </h4>
                            <p>
                                <%= posts[i].content %>
                            </p>
                        </div>
                        <% } %>
                </div>

                <!-- BootStrap -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>

                <!-- jQuery -->
                <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


                <!-- My JS -->
                <script>
                    let eventSource = new EventSource('/stream/list')
                    eventSource.addEventListener('msg', function (e) {
                        let receivedData = JSON.parse(e.data)
                        console.log(receivedData.title)
                        $('.white-bg').eq(1).append(
                            ('afterbegin', `
                            <div class="list-box" id="list${receivedData._id}">
                            <h4 style="display: flex">
                                <a href="/detail/${receivedData._id}">
                                    ${receivedData.title}
                                </a>
                                <p>
                                    ${receivedData.username}
                                </p>
                            </h4>
                            <p>
                                ${receivedData.content}
                            </p>
                        </div>
                            `)
                        )

                    })

                    $('.delete').on('click', function (e) {
                        let postId = e.target.dataset.num;
                        $.post(`/delete/${postId}`, { _id: postId })
                        $(`#list${postId}`).hide()
                    });               
                </script>
</body>

</html>